<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/about.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <title>Ana Ruiz. About</title>
</head>
<body>
    <header class="header">
        <nav class="nav__header">
            <a href="./index.html" class="nav__header--element js__link">Home</a>
            <a href="./projects.html" class="nav__header--element js__link">Projects</a>
            <a href="./about.html" class="nav__header--element js__link selected">About</a>
        </nav>
    </header>
    <main class="main">
        <div class="social__media">
            <ul class="social__media--list">
                <li class="social__media--list--item"><a target="_blank" href="mailto:annaruiz982@gmail.com" class="social__media--list--link">Email</a></li>
                <li class="social__media--list--item"><a target="_blank" href="https://x.com/anabelruizaire" class="social__media--list--link">Twitter</a></li>
                <li class="social__media--list--item"><a target="_blank" href="https://www.linkedin.com/in/ana-ruiz-espinar-171721197/" class="social__media--list--link">Linkedin</a></li>
                <li class="social__media--list--item"><a target="_blank" href="https://github.com/aruiz982" class="social__media--list--link">Github</a></li>
            </ul>
        </div>
        <div class="about__bio">
            <p class="about__bio--text">Hi there! I’m Ana Ruiz, a data journalist passionate about transforming complex data into engaging stories that resonate with readers. Currently, I’m working at El Confidencial, where I leverage tools like Python and R to analyze data and create visuals that make information not just accessible but also interesting. My journey in data journalism has taught me the importance of clear communication, especially when tackling important topics like sustainability and environmental issues. I believe that data storytelling has the power to spark meaningful conversations and drive positive change. In this portfolio, you’ll find a collection of my work that showcases my skills in data analysis, visualization, and storytelling. I’m excited to share my journey with you and look forward to connecting with others who are equally passionate about using data to make an impact!</p>
        </div>
    </main>
    <footer class="footer">
        <hr class="footer__line">
        <div class="footer__content">
            <p class="footer__content--item">annaruiz982@gmail.com</p>
            <p class="footer__content--item">Ana Ruiz</p>
            <p class="footer__content--item">+34 639 44 04 66</p>
        </div>
    </footer>
    <script src="../main.js"></script>
</body>
</html>